@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primary_color: #709b1d;
$primary_dark_color: #4b6e08;
$light_primary_color: #83b228;
$secondary_color:#f3f3f3;
$dark_text_color: #434343;
$light_grey_color: #efefef;


.full_width{
    display:block;
    width:100%;
}

body{
    margin:0px;
    padding:0px;
    font-family:Open Sans;

    &, & *{
        transition:all 0.4s ease;
    }

    a:hover{ 
        text-decoration: none; 
    }
}

/*
#### HEADER START ####
*/

header{
    display:block;


    /*
    *   #row1 ( nav 1 ) start
    */

    #row1{
        $row1Height:40px;
        min-height: $row1Height;
        background-color:$primary_color;
        padding-bottom:5px;

        .link{
            display:inline-block;
            height:$row1Height;
            padding:10px 10px;
            color:#FFF;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
            font-size:14px;
            i{
                transition:all 0s ease;
            }

            &:hover, &.active  
            {

                background-color:#FFF;
                color:$primary_color !important;
            }
        }

        

    }

    /*
    * #row2
    */

    #row2{
        min-height:85px;

        nav{
            min-height: 0px;
            background-color:#FFF;
            border-bottom:0px;
            margin-top:30px;
            margin-bottom:0px;
            border-top:0px;

            .nav {
                a {
                    color:$primary_color;
                    text-transform: uppercase;
                }
            }
            .navbar-brand{
                height:auto;
                padding-top:0px; padding-bottom:0px;
            }
        }
    }
    
    /*
    * #row3
    */
    #row3{
        background-color:$secondary_color;
        min-height:37px;
        nav{
            margin-bottom:0px;
        }
        .nav{

            

            li{
                padding:0 15px;
                a
                {
                    color:$primary_color;
                    text-transform: uppercase;
                    &:hover, &.active{
                        background-color:$primary_color;
                        color:#FFF;
                    }
                }
                
                
            }


            
        }

        form{
                input, button{
                    border-radius:0px;
                }
            }
    }

}
/*
#### HEADER END ####
*/



.slider{

    .carousel-control
    {

        &.right, &.left{
             background-image:none;
        }
        .glyphicon-chevron-right, .glyphicon-chevron-left{
            width:auto;
            height:auto;
        }
        .glyphicon-chevron-right{
            right:10%;
        }
        .glyphicon-chevron-left{
            left:10%;
        }

        
    } 


    .carousel-indicators li {
           
            background-color: $primary_color;
            border: 0;
            border-radius: 0;
            width:22px;
            height:17px;
            margin:0px;

            &.active{
                background-color:$primary_dark_color;
            }
        }


   
}

/*
## Slider End
*/


#siteInfo{
    background: $primary_color;
    padding-top:10px;; 

    .block{
        background-color:$light_primary_color;
        display:block;
        padding:20px;
        margin-bottom:10px; 
        
        .icon{
            float:left;
            font-size:35px;
            margin-right:10px;
        }
        h4, .icon{
            color:#FFF;
        }
        
        h4,h5{
            margin:0px;
        }

        h4{
            margin-bottom:3px;
        }
    }
}
.rating{
    text-align: center;
    .star{
        display:inline-block;

        width:18px;
        height:18px;
        background-position:bottom;
        background-image:url(../images/starIcon.png);

        &.active{
            background-position: top;
        }

    }
}

.product{
            background-color:$light_grey_color;
            padding:2px;
            text-align: center;
            
            .img{
                background-position: center;
                width:100%;
                padding-bottom:100%;
                background-size:cover;
                position:relative;
                margin-bottom:30px;

                .discountBadge{
                    position:absolute;
                    top:20px;
                    left:0px;
                    width:50px;
                    height:50px;
                    text-align: center;
                    line-height: 50px;
                    background-color:$primary_color;
                    color:#FFF;

                    .percent{
                            transform: rotate(45deg);
                            display: block;
                    }
                }

                .title{
                    position:absolute;
                    left:0px;
                    right:0px;
                    bottom:-20px;
                    width:90%;
                    height:40px;
                    line-height:40px;
                    font-size:16px;
                    background-color:#FFF;
                    border:1px solid $light_grey_color;
                    color:$primary_color;
                    margin:auto;
                    

                }
                
                
            }

            .price, .newPrice{
                
                font-weight:bold;
                font-size:20px;
                color:#696969;
                margin-bottom:16px;
                display:inline-block;

                &.discounted{
                    text-decoration: line-through;
                }
            }

            .newPrice{
                color:$primary_color;
            }
        }


#tabbedSlider{
    margin-top:88px;

    .header{
        background-color:$primary_color;
        padding-top:6px;
        text-align: center;

        li{
            float:none;
            display:inline-block;

            a{
                color:#FFF;
                font-size:18px;
            }

            &.active, &:hover{
                a{
                    color:$primary_color;
                }
                
            }
            
        }
    }
 

    .content{

        margin-top:30px;

        .carousel {
            .carousel-control{
                background: none;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: -72px;
              

                .glyphicon{
                    margin: 0px;
                    position: relative;
                    top: 0px;
                    
                }

                &.right{
                    .glyphicon
                    {
                        left: 0px;
                    }
                }
            }
        }
    }
}
/*
### #tabbedSlider end
*/


/*
### MEDIA QUERIES START ###
*/ 
@media( max-width:767px){
    header{
        #row1
        {
            .link{

                font-size:10px;
                padding:10px 5px;
                height:auto;

                
            }
            // header #row1 .link end

            .currencyDropdown{
                    width:100%;
                    a, .dropdown-menu{
                        width:100%;
                    }
                    .dropdown-menu{
                        border-top:0px;
                        border-radius:0px;
                    }
                
                }
        }
        // header #row1 end


        #row3{
            .navbar-toggle{
                float: none;
                margin-right: auto;
                margin-left: auto;
                width: 100px;
                display: block;
                color: $primary_color;
                font-weight: bold;
            }
        }
        // header #row3 end
    }
    // header end
    


    .slider{

        .carousel-control
        {
            .glyphicon-chevron-right{
                right:36%;
            }
            .glyphicon-chevron-left{
                left:36%;
            }
            .glyphicon-chevron-right, .glyphicon-chevron-left{
                width:20px;
            }
            

            
        } 


        .carousel-indicators
        {
            margin-bottom:0px;
            bottom:-0px;


            li {
                width:15px;
                height:12px;
            }
        } 
        // slider .carousel-indicators end
        
    }




}