
@import "../theme.scss";

#singleProductPage{
    
    
    .carousel{

        .carousel-control{
          
                top: auto;
                left: -16px;
                    bottom: 83px;
                width: 15%;
                opacity: .5;
                font-size: 20px;
                color: #000;
                text-shadow: 0 1px 2px rgba(0,0,0,0.6);
                background-image: none !important;
                    z-index: 111111;

            &.right{
                right:-16px;
                left:auto;
            }
    }
    .carousel-indicators{
           position: relative;
        left: auto;
        right: auto;
        width: 100%;
        margin: auto;
        padding: 15px 30px;
        bottom:0px;

        li{
                width: 10px;
            width: 33.333333% !important;
            height:auto;
            margin: 0 !important;
            text-indent: -999px;
            border: 0px;
            border-radius: 10px;
            cursor: pointer;
            opacity:0.4 !important;
            float:left;
            padding:7px;


            &.active{
                width:inherit;
                height:inherit;
                margin:inherit;
                opacity:1 !important;

            }
        }
        &, img{
            border:1px solid $grey_color;
        }

            img{
                display:block;

            }
        

        
    }


        .item {
            border:1px solid $grey_color;
            border-bottom:0px;

        }
    }    
    
}