.full_width {
  display: block;
  width: 100%; }

body {
  margin: 0px;
  padding: 0px;
  font-family: Open Sans; }
  body, body * {
    transition: all 0.4s ease; }
  body a:hover {
    text-decoration: none; }

.btnStyle1 {
  display: inline-block;
  padding: 10px 25px;
  background-color: #FFF;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 1px #CCC;
  color: #709b1d; }
  .btnStyle1:hover {
    background-color: #709b1d;
    color: #FFF;
    border-color: #FFF;
    box-shadow: none; }
  .btnStyle1 i {
    transition: all 0s; }

/*
#### HEADER START ####
*/
header {
  display: block;
  /*
  *   #row1 ( nav 1 ) start
  */
  /*
  * #row2
  */
  /*
  * #row3
  */ }
  header #row1 {
    min-height: 40px;
    background-color: #709b1d;
    padding-bottom: 5px; }
    header #row1 .link {
      display: inline-block;
      height: 40px;
      padding: 10px 10px;
      color: #FFF;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      font-size: 14px; }
      header #row1 .link i {
        transition: all 0s ease; }
      header #row1 .link:hover, header #row1 .link.active {
        background-color: #FFF;
        color: #709b1d !important; }
  header #row2 {
    min-height: 85px; }
    header #row2 nav {
      min-height: 0px;
      background-color: #FFF;
      border-bottom: 0px;
      margin-top: 30px;
      margin-bottom: 0px;
      border-top: 0px; }
      header #row2 nav .nav a {
        color: #709b1d;
        text-transform: uppercase; }
      header #row2 nav .navbar-brand {
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px; }
  header #row3 {
    background-color: #f3f3f3;
    min-height: 37px; }
    header #row3 #navbar1 {
      padding: 0px; }
    header #row3 nav {
      margin-bottom: 0px; }
    header #row3 .nav li {
      padding: 0; }
      header #row3 .nav li a {
        color: #709b1d;
        text-transform: uppercase;
        padding: 15px 25px; }
        header #row3 .nav li a:hover, header #row3 .nav li a.active {
          background-color: #709b1d;
          color: #FFF; }
    header #row3 form input, header #row3 form button {
      border-radius: 0px; }

/*
#### HEADER END ####
*/
.slider .carousel-control.right, .slider .carousel-control.left {
  background-image: none; }
.slider .carousel-control .glyphicon-chevron-right, .slider .carousel-control .glyphicon-chevron-left {
  width: auto;
  height: auto; }
.slider .carousel-control .glyphicon-chevron-right {
  right: 10%; }
.slider .carousel-control .glyphicon-chevron-left {
  left: 10%; }
.slider .carousel-indicators li {
  background-color: #709b1d;
  border: 0;
  border-radius: 0;
  width: 22px;
  height: 17px;
  margin: 0px; }
  .slider .carousel-indicators li.active {
    background-color: #4b6e08; }

/*
## Slider End
*/
.rating {
  text-align: center; }
  .rating .star {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position: bottom;
    background-image: url(../images/starIcon.png); }
    .rating .star.active {
      background-position: top; }

.product {
  background-color: #efefef;
  padding: 2px;
  text-align: center; }
  .product .img {
    background-position: center;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    position: relative;
    margin-bottom: 30px; }
    .product .img .discountBadge {
      position: absolute;
      top: 20px;
      left: 0px;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background-color: #709b1d;
      color: #FFF; }
      .product .img .discountBadge .percent {
        transform: rotate(45deg);
        display: block; }
    .product .img .title {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: -20px;
      width: 90%;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      background-color: #FFF;
      border: 1px solid #efefef;
      color: #709b1d;
      margin: auto; }
  .product .price, .product .newPrice {
    font-weight: bold;
    font-size: 20px;
    color: #696969;
    margin-bottom: 16px;
    display: inline-block; }
    .product .price.discounted, .product .newPrice.discounted {
      text-decoration: line-through; }
  .product .newPrice {
    color: #709b1d; }
  .product .btn {
    display: none; }
  .product:hover {
    background-color: #709b1d; }
    .product:hover .btn {
      display: inline-block; }
    .product:hover .price, .product:hover .rating, .product:hover .newPrice {
      display: none; }

/*# sourceMappingURL=shared.css.map */
