@import "../theme";
#cartPage {
    h1 {
        margin: 24px 0px !important;
    }
    .content {
        margin-bottom: 40px;

        .description{
            line-height:25px;
        }
        .cartCol{
                border-right: 1px solid #e8e7e7;
        }
        .paymentCol{
            .paymentHeading{
                margin-bottom:15px;
            }
        }
    }
}